<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CoursEra</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/ShadowAnimation.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="margin-right: 36px;color: #3b85a5;">КурсЭра</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group py-1 py-md-auto"><label for="search-field"><i class="fa fa-search" style="color: #aeaeae;"></i></label><input class="form-control search-field" type="search" id="search-field" name="search" placeholder="Поиск курсов..."></div>
                </form><img class="mx-3 md-mx-0" src="assets/img/avatar.png" style="width: 50px;height: 50px;">
                <ul class="nav navbar-nav d-inline-flex flex-row">
                    <li class="nav-item d-inline-flex flex-column" role="presentation">
                        <h5 class="ml-1">NickName</h5>
                        <div class="row no-gutters">
                            <div class="col px-1"><a class="text-nowrap nav-link" href="#" style="padding: 0!important;">Выйти</a></div>
                        </div>
                    </li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="container"></div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"></li>
                <li class="list-inline-item"><a href="#">Помощь</a></li>
                <li class="list-inline-item"><a href="#">Контакты</a></li>
                <li class="list-inline-item"><a href="#">О нас</a></li>
                <li class="list-inline-item"><a href="#">Команда</a></li>
            </ul>
            <p class="copyright">КурсЭра © 2019</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>