{% extends "./base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12 col-sm-auto col-md-9 pt-3 pb-2">
            <h2 class="mb-3 text-center">{{course.name}}</h2><img class="d-block mb-5 mx-auto img-fluid"
                                                                 src="{% get_media_prefix %}{{ course.image.name }}">
            <section>
                <h3>Описание курса</h3>
                <p class="pr-3">
                    {{course.description|linebreaksbr}}
                </p>
                <section class="pt-2">
                    <p class="d-inline pr-2" style="font-size: 14px;">Дата добавления курса:</p><em><span
                        style="font-size: 14px;">{{course.pub_date}}</span></em></section>
            </section>
        </div>
        <div class="col-auto col-sm-auto col-md-3 d-flex flex-grow-1 justify-content-center align-items-start align-items-xl-start sticky-top py-3 pt-md-5"
             style="background-color: #56c6c6;">
            <div class="sticky-top">
                <h3 style="color: #ffffff;">Подписаться</h3>
                <form action="{% url 'course-enroll' course.id %}" method='GET'>
                        <button class="btn btn-primary btn-block border-0" type="submit"
                        style="background-color: #6698eb;color: #ffffff;"> Подписаться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}