{% extends "./form-edit.html" %}
{% block form_tag %}
    {% url 'password_change' as act_url %}
    {% with action_url=act_url %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block form_title %}{{ title }}{% endblock %}
{% block form_content %}
    <div class="form-group row">
        <label class="text-left col-sm-2 col-form-label"
               for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-sm-10">
            {{ field }}
        </div>
        <div class="ml-3">
            {{ block.super }}
        </div>
    </div>
{% endblock %}
{% block submit_button_title %}Изменить пароль{% endblock %}