{% extends "./base.html" %}
{% block content %}
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        <h5 class="text-center d-xl-flex justify-content-xl-center font-weight-bold mb-4">
            Регистрация</h5>

        {% include "CoursEra/form-messages.html" with form_messages=messages %}
        {% include "CoursEra/form-non-field-errors.html" with form=form %}

        {% for field in form %}
            <div class="form-group row">
                <label class="text-left col-sm-2 col-form-label"
                       for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
            </div>


            {% include "CoursEra/form-helps.html" with field=field %}
            {% include "CoursEra/form-errors.html" with field=field %}
        {% endfor %}


        <input type="submit" value="Submit">
    </form>
{% endblock %}
